langchain
langchain-huggingface
langchain-experimental
langchain-community
langchain-chroma
langchain-openai
langchain-text-splitters
gradio
openai
chromadb
fastapi
uvicorn
pandas
geopandas
numpy
python-dotenv
pydantic
transformers
peft
tqdm
docling